@import "./scss/colors.scss";

* {
  all: unset;
  color: get-value("text");
}

.icon {
  font-family: Segoe Fluent Icons;
  font-size: 1.125rem;
}

@import "./scss/widgets/bottom-bar";
@import "./scss/widgets/launcher";
@import "./scss/widgets/workspaces";
@import "./scss/widgets/clock";
