@import "./scss/colors";

.launcher-btn {
  label {
    font-size: 1.75rem;
    transition: color 0.5s;
  }

  &:hover label {
    color: get-value("accent-5");

    .launcher-label {
      color: #1793d1;
    }
  }
}
