@import "./scss/colors";

.widget-workspaces {
  .workspaces-entry {
    font-size: 1.25rem;

    label {
      transition: color 0.2s ease;
    }

    &:hover label {
      color: get-value("accent-2");
    }
  }
}
